{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {# Tableau de liste d'utilisateurs #}
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                {# <th>Status</th> #}
                {# <th>Roles</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    {# <td>{{user.status}}</td> #}
                    {# <td>user.roles</td> #}
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
